<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Get CRUD</title>
</head>
<body>
    <div class="container mt-3 col-10">
        <h2>User</h2>
        <table class="table table-hover">
          <thead>
            <tr>
                <th class="col-1">STT</th>
                <th class="col-4">Email</th>
                <th class="col-1.5">Firstname</th>
                <th class="col-1.5">Lastname</th>
                <th class="col-2">Address</th>
                <th class="col-2">Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < dataTable.length; i++) { %>
                <tr>
                  <td><%= dataTable[i].id %></td>
                  <td><%= dataTable[i].email %></td>
                  <td><%= dataTable[i].firstName %></td>
                  <td><%= dataTable[i].lastName %></td>
                  <td><%= dataTable[i].address %></td>
                  <td>
                    <a href="/edit-crud?id=<%= dataTable[i].id %>" type="button" class="btn btn-light" >Edit</a>
                    <a href="/delete-crud?id=<%= dataTable[i].id %>" type="button" class="btn btn-light">Delete</a>
                  </td>
                </tr>
             <% } %>
          </tbody>
          
        </table>
    </div>
</body>
</html>